<li>
  <h3>Your New Library</h3>
  <h4>{{library.name}}</h4>
  <h4>{{library.id}}</h4>
<ul>
    <li button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#deleteFromLib" id="deleteFromlib">Delete Library</li>
</ul>
